@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");

@import "tailwindcss";

@variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

@theme {
  --font-anuphan: "Anuphan", serif;

  /* Override colors theme */
  --color-gray-50: #f1f1f4;
  --color-gray-100: #e3e2e9;
  --color-gray-200: #c3c2d1;
  --color-gray-300: #a7a5bb;
  --color-gray-400: #8b88a4;
  --color-gray-500: #6e6b8c;
  --color-gray-600: #585671;
  --color-gray-700: #424054;
  --color-gray-800: #2b2a37;
  --color-gray-900: #17161d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-spin-reverse: spin-reverse 1s ease-in-out infinite;

  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  :root {
    --background: #f2e3db;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #e86a33;
    --primary-foreground: #ffffff;
    --secondary: #41644a;
    --secondary-foreground: #ffffff;
    --tertiary: #263a29;
    --tertiary-foreground: #ffffff;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: #f2e3db;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #ffffff;
    --primary-foreground: #e86a33;
    --secondary: #ffffff;
    --secondary-foreground: #41644a;
    --tertiary: #ffffff;
    --tertiary-foreground: #263a29;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --border-shadow: 255, 255, 255, 0.145;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-h1 {
  font-size: 4rem;

  @apply font-anuphan font-bold tracking-normal;
}

@utility text-h2 {
  font-size: 2.25rem;

  @apply font-anuphan font-bold tracking-normal;
}

/* title1 */
@utility text-h3 {
  font-size: 2rem;

  @apply font-anuphan font-bold tracking-normal;
}

/* title2 */
@utility text-h4 {
  font-size: 1.375rem;

  @apply font-anuphan font-bold tracking-normal;
}

/* subtitle1 */
@utility text-subtitle1 {
  @apply font-anuphan text-lg font-bold tracking-normal;
}

/* subtitle2 */
@utility text-subtitle2 {
  @apply font-anuphan text-lg font-normal tracking-normal;
}

@utility text-body1 {
  @apply font-anuphan text-base font-semibold tracking-normal;
}

@utility text-body2 {
  @apply font-anuphan text-base font-normal tracking-normal;
}

@utility text-label1 {
  @apply font-anuphan text-sm font-normal tracking-normal;
}

@utility text-label2 {
  @apply font-anuphan text-xs font-normal tracking-normal;
}

@utility shadow-primary {
  box-shadow: 0px 0px 15px 0px #e86a3366;
}
