@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-anuphan: "Anuphan", serif;

  /* Override colors theme */
  --color-gray-50: #f1f1f4;
  --color-gray-100: #e3e2e9;
  --color-gray-200: #c3c2d1;
  --color-gray-300: #a7a5bb;
  --color-gray-400: #8b88a4;
  --color-gray-500: #6e6b8c;
  --color-gray-600: #585671;
  --color-gray-700: #424054;
  --color-gray-800: #2b2a37;
  --color-gray-900: #17161d;

  /* Colors theme */
  --color-primary: #e86a33;
  --color-secondary: #41644a;
  --color-tertiary: #263a29;
  --color-background: #f2e3db;
  --color-success: #00c61e;
  --color-error: #e20000;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1 {
    font-size: 4rem;

    @apply font-anuphan font-bold tracking-normal;
  }

  h2 {
    @apply font-anuphan text-4xl font-bold tracking-normal;
  }

  /* title1 */
  h3 {
    font-size: 2rem;

    @apply font-anuphan font-bold tracking-normal;
  }

  /* title2 */
  h4 {
    font-size: 1.375rem;

    @apply font-anuphan font-bold tracking-normal;
  }

  /* subtitle1 */
  h5 {
    @apply font-anuphan text-lg font-bold tracking-normal;
  }

  /* subtitle2 */
  h6 {
    @apply font-anuphan text-lg font-normal tracking-normal;
  }

  p.body1 {
    @apply font-anuphan text-base font-semibold tracking-normal text-red-400;
  }

  p.body2 {
    @apply font-anuphan text-base font-normal tracking-normal;
  }

  label {
    @apply font-anuphan text-sm font-normal tracking-normal;
  }

  label.sm {
    @apply font-anuphan text-xs font-normal tracking-normal;
  }
}
